.reg-body{
       font-family: Arial, sans-serif;
       background-image: url("img/travel-pic2.jpg");
       background-size: cover;
       background-position: center;
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
   }

      .reg-h2{
          color: white;
        }

     .reg-form {
            background-color: aqua;
            width: 100%;
            max-width: 300px;
            margin: 2px;
            padding: 10px 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

         .reg-form input {
                width: 50%;
                padding: 5px;
                margin: 5px 0;
                border-radius: 4px;
            }

/*Login Form*/

.log-form {
    background-color: aqua;
    width: 100%;
    max-width: 300px;
    margin: 2px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

    .log-form input {
        width: 50%;
        padding: 5px;
        margin: 5px 0;
        border-radius: 4px;
    }

/* header part */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cce7ff;
}

    header h2 {
        margin: 0;
        font-size: 1.5em;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

    nav a:hover {
        text-decoration: underline;
    }

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

section img {
    max-width: 100%;
    height: auto;
}



a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.logo-img.header.img{
    width:50px;
    height:50px;
}